<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}Eat it again{{else}}Eat It!{{/if}}
	</button>
	<button class="delete-button" data-id="{{id}}">DEVOUR THIS BURGER</button>
</li>
